body {
}

.rightAlign {
    margin: auto;
    float: right;
    width: 33%;
    min-height: 1px;
}
.centerAlign {
    margin:auto;
    float: right;
    text-align: center;
    width: 33%;
    font-family: 'Comic Sans MS';
    font-size: large;
}
.floatLeft {
    margin: auto;
    float: right;
    width: 33%;
    font-family: 'Comic Sans MS';
    font-size: large;
}
.overall {
    border: double;
    border-width: 2px;
    border-color: darkblue;
    border-width: 2px;
}
tr td{
    color:darkblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}